:root {
    --red: #9a3231;
    --darkred: #751312;
    --grey: rgb(207, 207, 207);
    --logoYoutube: #ff0000;
    --logoFacebook: #4267b2;
    --logoInstagram: #8a3ab9;
    --normalgrey: #878787;
    --lightgrey: #cfcfcf;
    --darkblue: #182546;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

/* NAV1 */

#nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkred);
}

#nav1>div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    height: 2.5rem;
    color: white;
}

#nav1 span {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#nav1 span:hover {
    cursor: pointer;
}

#nav1 span:last-child {
    margin-right: 0%;
}

#nav1 svg {
    height: 60%;
    fill: white;
    margin-right: 10px;
}

.kontrast {
    font-size: 0.8em;
}

#nav1 button {
    background-color: var(--darkred);
    border: none;
    height: 100%;
    width: 2.5rem;
    color: white;
    font-size: 1.2rem;
}

#nav1 button:hover {
    cursor: pointer;
    background-color: #58100f;
}

/* NAV2 */

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}

#main-nav>div {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}

#main-nav svg {
    height: 80%;
    fill: var(--darkblue);
    transition: 200ms;
}

#main-nav svg:hover {
    fill: var(--darkred);
    cursor: pointer;
}

.nav-item {
    font-weight: bolder;
    margin-right: 50px;
    transition: 200ms;
}

.nav-item:last-child {
    margin-right: 0%;
}

.nav-item:hover {
    color: var(--darkred);
    cursor: pointer;
}

/* MAIN BODY */

#mainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background: url("./images/zdjecieszkoly.png") no-repeat center;
    background-color: red;
    height: 600px;
    width: 100%;
}

header h1 {
    color: white;
    margin-top: 2em;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5em;
    font-size: 3em;
    padding-left: 1em;
    text-shadow: 0 0 0.75em black;
}

/* MAIN CONTENT */

#mainContent {
    display: flex;
    justify-content: center;
    background: url("./images/triangle-mosaic.png") repeat;
}

main {
    margin-top: -10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.2em;
    max-width: 1200px;
    background-color: white;
    border-radius: 2em;
}

.title {
    display: flex;
    padding: 2em;
    gap: 2em;
}

.article {
    display: flex;
    padding: 2em;
    border-radius: 1em;
    gap: 1.5em;
    margin: 0 2em;
    border: 1px solid grey;
}

.aText {
    display: flex;
    flex-direction: column;
    gap: 1em;
    line-height: 1.5em;
}

.aText h3 {
    font-size: 1.5em;
}

.aText p,
.aText a {
    font-size: 1.1em;
}

.aText a {
    width: max-content;
    align-items: center;
    gap: 0.35em;
    text-decoration: none;
    color: red;
}


.aText svg {
    fill: red;
}

.aImg img {
    width: 330px;
    border-radius: 1em;
}

.title hr {
    width: 100%;
    height: 1px;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.footerMain {
    display: flex;
    flex-wrap: wrap;
    color: var(--darkblue);
    justify-content: center;
    margin-top: 10px;
  }
  
  .footerMainLeft {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: right;
    flex-wrap: wrap;
    padding: 40px;
    border-right: 1px solid var(--lightgrey);
  }
  
  .ftrLeftSchoolName {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 30px;
    gap: 10px;
  }
  
  .ftrLeftSchoolLogo svg {
    height: 50px;
    width: 50px;
    fill: var(--darkblue);
  }
  
  .ftrLeftSchoolName a {
    -o-transition: -o-transform ease-out 0.1s, background 0.2s;
    -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  
  .ftrLeftSchoolName a:hover {
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .ftrLeftContact {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 30px;
    color: var(--normalgrey);
  }
  
  .ftrLeftContact a {
    color: var(--normalgrey);
  }
  
  .ftrLeftElement1,
  .ftrLeftElement2,
  .ftrLeftElement3 {
    display: flex;
  }
  
  .ftrLeftElement1Logo,
  .ftrLeftElement2Logo,
  .ftrLeftElement3Logo {
    padding-right: 12px;
  }
  
  .ftrLeftElement1Logo svg,
  .ftrLeftElement2Logo svg,
  .ftrLeftElement3Logo svg {
    height: 35px;
    width: 35px;
    fill: var(--normalgrey);
  }
  
  .footerMainRight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 45px;
  }
  
  .ftrRightText {
    padding-bottom: 20px;
  }
  
  .ftrRightLogoSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
  .ftrRightLogoSection div svg path {
    fill: var(--normalgrey);
  }
  
  @media only screen and (max-width: 965px) {
    .footerMainLeft {
      border-right: none;
      border-bottom: 1px solid var(--lightgrey);
    }
  
    .ftrRightText {
      text-align: center;
    }
  
    .ftrLeftName {
      display: none;
    }
  }
  
  @media only screen and (max-width: 710px) {
    .ftrLeftContact {
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  
    .footerMain {
      flex-direction: column;
    }
  
    .ftrRightLogoSection {
      justify-content: center;
    }
  }