:root {
    --red: #9a3231;
    --darkred: #751312;
    --grey: rgb(207, 207, 207);
    --logoYoutube: #ff0000;
    --logoFacebook: #4267b2;
    --logoInstagram: #8a3ab9;
    --normalgrey: #878787;
    --lightgrey: #cfcfcf;
    --darkblue: #182546;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

/* NAV1 */

#nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkred);
}

#nav1>div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    height: 2.5rem;
    color: white;
}

#nav1 span {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#nav1 span:hover {
    cursor: pointer;
}

#nav1 span:last-child {
    margin-right: 0%;
}

#nav1 svg {
    height: 60%;
    fill: white;
    margin-right: 10px;
}

.kontrast {
    font-size: 0.8em;
}

#nav1 button {
    background-color: var(--darkred);
    border: none;
    height: 100%;
    width: 2.5rem;
    color: white;
    font-size: 1.2rem;
}

#nav1 button:hover {
    cursor: pointer;
    background-color: #58100f;
}

/* NAV2 */

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}

#main-nav>div {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}

#main-nav svg {
    height: 80%;
    fill: var(--darkblue);
    transition: 200ms;
}

#main-nav svg:hover {
    fill: var(--darkred);
    cursor: pointer;
}

.nav-item {
    font-weight: bolder;
    margin-right: 50px;
    transition: 200ms;
}

.nav-item:last-child {
    margin-right: 0%;
}

.nav-item:hover {
    color: var(--darkred);
    cursor: pointer;
}

/* MAIN BODY */

#mainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background: url("./images/zdjecieszkoly.png") no-repeat center;
    background-color: red;
    height: 600px;
    width: 100%;
}

header h1 {
    color: white;
    margin-top: 2em;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5em;
    font-size: 3em;
    padding-left: 1em;
    text-shadow: 0 0 0.75em black;
}

/* MAIN CONTENT */

#mainContent {
    display: flex;
    justify-content: center;
    background: url("./images/triangle-mosaic.png") repeat;
}

main {
    margin-top: -10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.2em;
    max-width: 1200px;
    background-color: white;
    border-radius: 2em;
}

.title {
    display: flex;
    padding: 2em;
    gap: 2em;
}

.article {
    display: flex;
    padding: 2em;
    border-radius: 1em;
    gap: 1.5em;
    margin: 0 2em;
    border: 1px solid grey;
}

.aText {
    display: flex;
    flex-direction: column;
    gap: 1em;
    line-height: 1.5em;
}

.aText h3 {
    font-size: 1.5em;
}

.aText p,
.aText a {
    font-size: 1.1em;
}

.aText a {
    width: auto;
    display: flex;
    align-items: center;
    gap: 0.35em;
}

.aText a {
    text-decoration: none;
    color: red;
}

.aText svg {
    fill: red;
}

.aImg img {
    width: 330px;
    border-radius: 1em;
}

.title hr {
    width: 100%;
    height: 1px;
}

/* FOOTER */

/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

footer > div {
    width: 100%;
    max-width: 1200px;
} */

footer {
    display: flex;
    padding: 40px 20%;
    height: 160px;
    max-width: 1100px;
}

#footer-left {
    width: 65%;
    height: 100%;
    border-right: 1px solid var(--lightgrey);
}

#footer-heading {
    height: 50%;
    display: flex;
    align-items: center;
    color: var(--darkblue);
    justify-content: center;
}

#footer-heading div {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-heading svg {
    height: 80%;
    fill: var(--darkblue);
}

#footer-heading span {
    display: block;
}

#footer-heading span:first-child {
    font-weight: bolder;
}

#footer-bottom {
    height: 50%;
    display: flex;
    color: var(--normalgrey);
    justify-content: space-evenly;
}

.footer-info svg {
    height: 40%;
    fill: var(--normalgrey);
    margin-right: 10px;
}

.footer-info {
    display: flex;
    align-items: center;
}

#footer-right {
    width: 35%;
    height: 100%;

}

#footer-right div {
    margin-left: 10%;
}

#social-top {
    margin-top: 20px;
    font-size: 1.1rem;
}

#social-top span {
    display: block;
    color: var(--darkblue);
}

#social-top span {
    font-weight: bolder;
}

#social-top span:last-child {
    font-weight: normal;
}

#social-bot {
    height: 80%;
    display: flex;
    align-items: center;
}

#social-bot svg {
    fill: var(--normalgrey);
    height: 40px;
    margin-left: 13%;
    transition: 200ms;
}

#social-bot svg:hover {
    cursor: pointer;
}

#social-bot svg:hover:nth-child(1) {
    fill: var(--logoFacebook);
}

#social-bot svg:hover:nth-child(2) {
    fill: var(--logoYoutube);
}

#social-bot svg:hover:nth-child(3) {
    fill: var(--logoInstagram);
}

#social-bot svg:first-child {
    margin-left: 0;
}